<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>world-Skills-Belgium</title>
        <!-- Twitter Card data -->
        <meta name="twitter:card" value="Webpack basic starter project" />
        <meta name="Description" content="A simple webpack starter project for your basic web development needs." />
        <!-- Open Graph data -->
        <meta property="og:title" content="Webpack basic starter project" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
        <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
        <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
        <!-- Mobile header color for Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#ff4970" />
        <!-- Mobile header color Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#ff4970" />
        <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" />
    </head>
    <body class="home">
        <header>
            <div class="barre_header">
                <div class="logo">
                    <a href="index.html">
                        <img src="<%= require('./src/images/logo_kazan.png') %>" alt="Logo de la ville de Kazan" style="max-width: 200px;" title="Logo de la ville de Kazan" />
                    </a>
                </div>
                <div id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu invisible">
                    <form method="get" action="" id="recherche">
                        <input type="search" placeholder="Entrez votre recherche" />
                        <input type="submit" name="search" value="rechercher" />
                    </form>
                    <nav>
                        <ul>
                            <li><a href="#visits">Visits</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#history">History</a></li>
                            <li><a href="#getTickets">GetTickets</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div>
                <div id="events" class="codeconf">
                    <h1>
                        <img src="<%= require('./src/images/logo.png') %>" alt="Logo WorldSkillsBelgium" style="width: 6em;" title="Logo WorldSkillsBelgium" />
                    </h1>
                    <p><span>August</span> <span>22 > 27</span></p>
                </div>
                <p>
                    The ultimate competition dedicated for any manuals and technologicals skills, loves and works just for fun, for their work or just exchanging their passion with others…
                </p>
            </div>
        </header>
        <main>
            <p class="see_schedule">
                <a href="#"><span>See</span> <span>Schedule</span></a>
            </p>
            <section class="speakers" id="visits" lang="fr">
                <h2>Que faire à Kazan ?</h2>
                <ul class="list"></ul>
            </section>
            <section class="speakers" id="history" style="height:20em; border:1px solid black;">
                <h2>Ligne du temps</h2>
                <p>Veuillez insérer ici votre ligne du temps</p>
            </section>
        </main>
        <footer>
            <div class="getTickets" id="getTickets">
                <a href="#">
                    <p>Get ticket</p>

                    <div>
                        <p>
                            <span class="creditcard">Carte de crédit</span>
                            <span class="paypal">Paypal</span>
                        </p>
                        <p><span>₽2600</span><span>RUR</span></p>
                    </div>
                </a>
            </div>
            <section>
                <div class="description" id="contact">
                    <div>
                        <h4>TatarStan Toursim</h4>
                        <h5>Ulitsa Maksima Gor'kogo, 19, Kazan, 420015</h5>
                        <p>
                            Kazan (en russe, Казань ; en tatar : Казан) est une ville de Russie et la capitale de la république du Tatarstan, une des subdivisions de la Russie. Sa population s'élevait à 1 231 878 habitants en 2017 ce qui en fait la sixième ville de Russie.
                        </p>
                    </div>
                </div>
                <img src="<%= require('./src/images/kazan-night.jpg')%>" alt="Kazan by night" title="Kazan by night" />
                <div class="helpdesk ">
                    <h5>Visit Tatarstan</h5>
                    <p>+7 843-206-00-14<br />(speaker’s support)</p>
                </div>

                <div class="reseaux">
                    <h5>Follow US</h5>
                    <ul>
                        <li>
                            <a href="#" class="slack">#kazan2019</a>
                        </li>
                        <li>
                            <a href="#" class="twitter">@kazan2019</a>
                        </li>
                    </ul>
                </div>

                <div class="copyright">
                    <figure style="height: 14.3rem; margin-left: 4rem"><img src="<%= require('./src/images/startechs.png')%>" alt="WorldSkillsBelgium Startech's Days" title="WorldSkillsBelgium Startech's Days" /></figure>
                </div>
            </section>
        </footer>
    </body>
</html>
