@font-face {
    font-family: "fonttable";
    src: url("fonts/ex_cepegra.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "museo";
    src: url("fonts/museo/Museo300-regular.woff2") format("woff2");
    font-weight: 100;
}
@font-face {
    font-family: "museo";
    src: url("fonts/museo/Museo500-regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "museo";
    src: url("fonts/museo/Museo700-regular.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Maven pro";
    src: url("fonts/maven-pro/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Maven pro";
    src: url("fonts/maven-pro/MavenPro-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Maven pro";
    src: url("fonts/maven-pro/MavenPro-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Maven pro";
    src: url("fonts/maven-pro/MavenPro-Black.ttf") format("truetype");
    font-weight: 900;
}
